/*** General ***/
html, body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    font-size: 15px;
    color: #626868;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*** Mobile interface ***/
.mobile-screen {
    min-height: 324px;
    position: relative;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}

.withTopBar {
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.withoutTopBar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

/*** Splash screen ***/
.splash {
    height: 100%;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #d7d3d3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d7d3d3));
    background: -webkit-linear-gradient(top, #ffffff 0%, #d7d3d3 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #d7d3d3 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #d7d3d3 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #d7d3d3 100%);

    font-size: 17px;
    font-family: Century Gothic, Arial;
    text-align: center;
}

a.splash-wrap {
    display: block;
    text-decoration: none;
}

.splash .logo {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -103px;
}

.splash .legend {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    color: #bd2ca0;
}

.splash .pictos {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -114px;
}

.splash .description {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
}

.splash .button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -84px;
}

.splash .thanks-cloudbees {
    position:absolute;
    width: 107px;
    height: 36px;
    right:0;
    bottom:0;
    background:url('../img/cloudbees.png');
}

/*** Splash screen for small screens ***/
@media screen and (max-height: 430px) {
    .splash .logo {
        top: 5px;
    }

    .splash .legend {
        top: 45px;
    }

    .splash .pictos {
        top: 85px;
    }

    .splash .description {
        display: none;
    }

    .splash .button {
        bottom: 5px;
    }
}

/*** Top Bar ***/
.header {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 45px;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 4px 6px #bbb;
}

.fixed-header {
    width: 100%;
    height: 45px;
}

.app-title {
    position: absolute;
    top: 10px;
    left: 50%;
    padding-top: 3px;
    margin-left: -75px; /*-64px;*/
}

.back-link {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    left: 10px;
    background: url('../img/buttons-sprite.png') -25px 0;
}

.favoris-link {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    left: 35px;
    background: url('../img/buttons-sprite.png') -25px -100px;
}

.search-link {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 33px;
    background: url('../img/buttons-sprite.png') 0 -50px;
}

.filter-link {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 58px;
    background: url('../img/buttons-sprite.png') 0 -75px;
}

.filter-link.active {
    background-position: 0 -100px;
}

.geoloc-link {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 83px;
    background: url('../img/buttons-sprite.png') 0 -125px;
}

.switch {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 8px;
    background: url('../img/buttons-sprite.png');
}

.switch-list {
    background-position: 0 0;
}

.switch-map {
    background-position: 0 -25px;
}

.switch-load {
    background: url('../img/mode-load.gif') no-repeat 2px 1px;
}

/*** Tool Bars ***/

.transportFilter, .search {
    background: #fff;
    border-top: 1px solid #bbb;
    box-shadow: 0 4px 6px #bbb;
}

.transportFilter li {
    display: inline-block;
    text-align: center;
    width: 13%;
}

.transportFilter label {
    display: block;
    cursor: pointer;
    margin: 6px 0;
}

.transportFilter img {
    display: block;
    width: 23px;
    height: 23px;
    margin: 0 auto;
}

.transportFilter input[type=checkbox] {
    -webkit-appearance: none;
    cursor: pointer;
}

.transportFilter input[type=checkbox]:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    opacity: 0.2;
    background: url('../img/buttons-sprite.png') -25px -75px;
}

.transportFilter input[type=checkbox]:checked:before {
    opacity: 1;
}

.search {
    text-align: center;
    padding: 8px 0;
}

input[type=text] {
    width: 80%;
    height: 20px;
    font-size: 16px;
    padding: 3px 14px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    font-size: 14px;
    line-height: 14px;
}

.ui-autocomplete .station-type {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin-right: 4px;
}

/*** Map ***/
#map-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*** List ***/

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.no-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
}

.line {
    position: relative;
    left: 0;
    right: 0;
    font-size: 11px;
    border-bottom: 1px solid #aeadad;
}

.line.overflow {
    position: absolute;
    bottom: 0;
    background-color: white;
    box-shadow: 0 -4px 6px #bbb;
}

.line .img-centered {
    max-height: 45px;
    max-width: 30px;
    vertical-align: middle;
}

.line .img-wrapper {
    position: absolute;
    height: 45px;
    width: 30px;
    overflow: hidden;
    line-height: 45px;
    text-align: center;
}

.line .img-wrapper.type {
    left: 5px;
}

.line .img-wrapper.lineNumber {
    left: 40px;
}

.line .infos {
    position: absolute;
    top: 12px;
    height: 33px;
    left: 78px;
    right: 64px;
}

.line .name {
    width: 100%;
    font-weight: bold;
    color: #3b4342;
    font-size: 12px;
    margin-bottom: 3px;
}

.line .distance {
    float: left;
}

.line .localize {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 18px;
    cursor: pointer;
    background: url('../img/buttons-sprite.png') 0 -150px no-repeat;
    padding-top: 6px;
    padding-left: 25px;
}

.line.overflow .localize {
    display: none;
}

.extend-arrow {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 12px;
    right: 8px;
    cursor: pointer;
    background: url('../img/buttons-sprite.png') -25px -25px;
}

.extend-arrow.extended {
    background-position: -25px -50px;
}

.extend-arrow.loading {
    cursor: default;
    background: url('../img/mode-load.gif') no-repeat 2px 1px;
}

.favori-toggle {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 12px;
    right: 33px;
    cursor: pointer;
    background: url('../img/buttons-sprite.png') -25px -100px;
    opacity: 0.4;
}

.favori-toggle.active, .favori-toggle:hover {
    opacity: 1;
}

.line-narrow {
    height: 45px;
}

.green {
    font-size: 12px;
    color: #3b4342;
    background: #c1d069;
    padding: 3px 15px;
    height: 14px;
}

.green .left {
    float: left;
}

.green .right {
    float: right;
}

.green-light {
    background: #e6eeee;
    padding: 3px 15px;
}

.legend, .schedule {
    height: 15px;
}

.schedule .direction {
    float: left;
    height: 15px;
    overflow: hidden;
    max-width: 80%;
}

.schedule .time {
    float: right;
    height: 15px;
    overflow: hidden;
}

/*** Favoris list ***/

.favori-line .line-narrow {
    line-height: 31px;
}

.favori-line .line-extended {
    height: 28px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
}

.favori-line .infos {
    left: 46px;
    right: 38px;
}

.favori-ico {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 12px;
    left: 12px;
    background: url('../img/buttons-sprite.png') -25px -100px;
}

.favori-line .localize, .favori-line .rename, .favori-line .remove {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url('../img/buttons-sprite.png');
    cursor: pointer;
}

.favori-line .localize {
    padding: 0;
    position: relative;
    margin-left: 48px;
    background-position: 0 -150px;
}

.favori-line .rename {
    background-position: 0 -175px;
    opacity: 0.5;
}

.favori-line .rename.active {
    opacity: 1;
}

.favori-line .remove {
    background-position: -25px -175px;
}

.favori-line input.name {
    width: 80%;
}