/*** General ***/
html, body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    font-size: 15px;
    color: #626868;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*** Mobile interface ***/
.mobile-screen {
    min-height: 324px;
    position: relative;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}

.withTopBar {
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.withoutTopBar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

/*** Splash screen ***/
.splash {
    height: 100%;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #d7d3d3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d7d3d3));
    background: -webkit-linear-gradient(top, #ffffff 0%, #d7d3d3 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #d7d3d3 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #d7d3d3 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #d7d3d3 100%);

    font-size: 17px;
    font-family: Century Gothic, Arial;
    text-align: center;
}

a.splash-wrap {
    display: block;
    text-decoration: none;
}

.splash .logo {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -103px;
}

.splash .legend {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    color: #bd2ca0;
}

.splash .pictos {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -114px;
}

.splash .description {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
}

.splash .button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -84px;
}

/*** Splash screen for small screens ***/
@media screen and (max-height: 430px) {
    .splash .logo {
        top: 5px;
    }

    .splash .legend {
        top: 45px;
    }

    .splash .pictos {
        top: 85px;
    }

    .splash .description {
        display: none;
    }

    .splash .button {
        bottom: 5px;
    }
}

/*** Top Bar ***/
.header {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 45px;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 4px 6px #bbb;
}

.app-title {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -64px;
}

.splash-link {
    display: block;
    position: absolute;
    width: 11px;
    height: 16px;
    top: 15px;
    left: 15px;
    background-image: url('../img/arrow-left.png');
}

.search-link {
    display: block;
    position: absolute;
    width: 29px;
    height: 29px;
    top: 10px;
    right: 50px;
    background-image: url('../img/search.png');
}

.transport-filter {
    display: block;
    position: absolute;
    width: 29px;
    height: 29px;
    top: 10px;
    right: 79px;
    background-image: url('../img/filter.png');
}

.transport-filter.active {
    background-image: url('../img/filter-active.png');
}

.transportFilter, .search {
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 45px;
    border-top: 1px solid #bbb;
    box-shadow: 0 4px 6px #bbb;
}

.transportFilter li {
    display: inline-block;
    text-align: center;
    width: 13%;
}

.transportFilter label {
    display: block;
    cursor: pointer;
    margin: 6px 0;
}

.transportFilter img {
    display: block;
    width: 23px;
    height: 23px;
    margin: 0 auto;
}

.transportFilter input[type=checkbox] {
    -webkit-appearance: none;
    cursor: pointer;
}

.transportFilter input[type=checkbox]:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    opacity: 0.2;
    background-image: url('../img/filter-check.png');
}

.transportFilter input[type=checkbox]:checked:before {
    opacity: 1;
}

.search {
    text-align: center;
}

.search input {
    margin: 8px 0;
    width: 80%;
    height: 20px;
    font-size: 16px;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    font-size: 14px;
}

.switch {
    position: absolute;
    width: 29px;
    height: 27px;
    top: 10px;
    right: 10px;
}

.geoloc-link {
    display: block;
    position: absolute;
    width: 11px;
    height: 16px;
    top: 15px;
    right: 60px;
    background-image: url('../img/geoloc.png');
}

.switch-list {
    background-image: url('../img/mode-list.png');
}

.switch-map {
    background-image: url('../img/mode-map.png');
}

.switch-load {
    background: url('../img/mode-load.gif') no-repeat 2px 1px;
}

/*** Map ***/
#map-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*** List ***/

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.no-station {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
}

.line {
    position: relative;
    left: 0;
    right: 0;
    font-size: 11px;
    border-bottom: 1px solid #aeadad;
}

.line.overflow {
    position: absolute;
    bottom: 0;
    background-color: white;
    box-shadow: 0 -4px 6px #bbb;
}

.line .img-centered {
    max-height: 45px;
    max-width: 30px;
    vertical-align: middle;
}

.line .img-wrapper {
    position: absolute;
    height: 45px;
    width: 30px;
    overflow: hidden;
    line-height: 45px;
    text-align: center;
}

.line .img-wrapper.type {
    left: 5px;
}

.line .img-wrapper.lineNumber {
    left: 40px;
}

.line .infos {
    position: absolute;
    top: 12px;
    height: 33px;
    left: 78px;
    right: 50px;
}

.line .name {
    width: 100%;
    font-weight: bold;
    color: #3b4342;
    font-size: 12px;
    margin-bottom: 3px;
}

.line .distance {
    float: left;
}

.line .localize {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 16px;
    cursor: pointer;
    background: url('../img/geoloc.png') no-repeat;
    padding-top: 4px;
    padding-left: 22px;
}

.line.overflow .localize {
    display: none;
}

.extend-arrow {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 16px;
    right: 16px;
    cursor: pointer;
    background-image: url('../img/arrow-right.png');
}

.extend-arrow.extended {
    background-image: url('../img/arrow-bottom.png');
}

.line-narrow {
    height: 45px;
}

.green {
    font-size: 12px;
    color: #3b4342;
    background: #c1d069;
    padding: 3px 15px;
    height: 14px;
}

.green .left {
    float: left;
}

.green .right {
    float: right;
}

.green-light {
    background: #e6eeee;
    padding: 3px 15px;
}

.legend, .schedule {
    height: 13px;
}

.schedule .direction {
    float: left;
}

.schedule .time {
    float: right;
}