<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd
http://java.sun.com/xml/ns/javaee "
         id="WebApp_ID" version="2.5">

    <display-name>MoovIn The City Simply</display-name>

    <listener>
        <listener-class>fr.duchesses.moov.guice.GuiceConfiguration</listener-class>
    </listener>

    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>



    <!-- Log4j conf -->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:resources/log4j.properties</param-value>
    </context-param>

</web-app>
